<!DOCTYPE html>




<html lang="en">
    

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>

        <script src="./scripts/register.js" defer></script>

    </head>
    
    
    <body>
        <form>
            <table>

                <tr>
                    <td>First Name</td>
                    <td><input type="text" id="fn"></td>
                </tr>

                <tr>
                    <td>Surname</td>
                    <td><input type="text" id="sn"></td>
                </tr>
                
                <tr>
                    <td>Email</td>
                    <td><input type="text" id="email"></td>
                </tr>
                
                <tr>
                    <td>Password</td>
                    <td><input type="text" id="password"></td>
                </tr>
                
                <tr>
                    <td>Confirm Password</td>
                    <td><input type="text" id="cpassword"></td>
                </tr>

                <tr>
                    <td><button id="register">Register</button></td>
                </tr>

            </table>
        </form>
    </body>


</html>