<!DOCTYPE html>




<html lang="en">
    

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log In</title>

    </head>
    
    
    <body>
        
        <form>
            <table>
                <tr>
                    <td>Email:  </td>
                    <td><input type="email" id="email"></td>
                </tr>
                <tr>
                    <td>Password:  </td>
                    <td><input type="password" id="password"></td>
                </tr>
                <tr>
                    <td><input type="submit" id="login" value="Log In"></td>
                </tr>
            </table>
        </form>

    </body>


</html>