<!DOCTYPE html>




<html lang="en">
    

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>

        <script type="text/javascript" src="/Scripts/view-script-register.js" defer></script>

    </head>
    
    
    <body>

        <form>
            <table>
                <tr>
                    <td>First Name:  </td>
                    <td><input type="text" id="forename"></td>
                </tr>
                <tr>
                    <td>Last Name:  </td>
                    <td><input type="text" id="surname"></td>
                </tr>
                <tr>
                    <td>Email:  </td>
                    <td><input type="email" id="email"></td>
                </tr>
                <tr>
                    <td>Password:  </td>
                    <td><input type="password" id="password"></td>
                </tr>
                <tr>
                    <td>Verify Password:  </td>
                    <td><input type="password" id="verify"></td>
                </tr>
                <tr>
                    <td><input type="submit" id="register" value="Register"></td>
                </tr>
            </table>
        </form>
        
    </body>


</html>